body {
font-size:300%;
 background-image: url("nature.jpg");
 background-size: 1500px 1000px;
 background-repeat:no-repeat;
}
h1 {
background-color:white;
display:inline;
}
a {
color:black;
text-decoration:none;
}
a:visited {
text-decoration: underline;
}

